<div class="photo-form flex-col-container flex-center-both">
  <form #photoForm="ngForm" novalidate>
    <h4>Add photo</h4>
    <div class="input-group field"
         [ngClass]="{'input-error': (photoForm.controls['thumbUrl']?.touched ||
photoForm.submitted) && photoForm.controls['thumbUrl']?.invalid}">
      <label>Photo</label>
      <input
        type="text"
        class="input-control"
        name="thumbUrl"
        [(ngModel)]="photo.thumbUrl"
        required>
      <p class="error-text">This field is required</p>
    </div>
    <div class="flex-row-container">
      <button class="btn btn-primary send-button"
              (click)="onAddPhoto()"
              [disabled]="photoForm.submitted || photoForm.invalid || photoForm.pristine">add photo
      </button>
      <button type="button" class="button button-default"
              (click)="onCancel()">
        cancel
      </button>
    </div>
  </form>
</div>
