.component-container {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-group {
  margin-right: 10px;
  width: 100%;
}

label {
  margin-bottom: 7px;
}

h3 {
  margin-left: -20px;
  margin-bottom: 10px;
}

form {
  max-width: 90%;
}

h4 {
  margin-bottom: 8px;
}

.button-group {
  display: flex;
}
