.photo-form {
  margin-top: 150px;
}

.input-group {
  margin-right: 10px;
  width: 100%;
}

label {
  margin-bottom: 7px;
}

h3 {
  margin-left: -20px;
  margin-bottom: 10px;
}

form {
  max-width: 90%;
}

h4 {
  margin-bottom: 8px;
}
