@import "../../../assets/styles/_variables.scss";

.paging-container {
  margin: 10px;
  font-size: 20px;
}

span {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  margin: 5px;
}

.disabled-link {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: grey;
  background-color: #4f4f4f;
}

.active-page {
  background-color: $brand-success;
}
