<div class="gallery-container flex-col-container">
  <!--<div class="gallery-container flex-col-container flex-justify-space-between">-->
  <!--  HEADER SECTION-->
  <div class="header flex-row-container">
    <button class="btn btn-primary back-button" (click)="backToGalleries()">back to galleries</button>
    <h2>{{gallery.title}}, {{gallery.dateCreated | date: 'longDate'}}</h2>
  </div>
  <h3>{{gallery.description}}</h3>
  <!--  TAGS-->
  <app-tags-container
    [gallery]="gallery"
    (removeTag)="removeTag($event)"
    (addTag)="addTag($event)"
  >
  </app-tags-container>
  <!--  PHOTOS-->
  <div class="photo-section-container flex-row-container flex-justify-space-between">
    <!--    MAIN PHOTO-->
    <div class="main-photo flex-row-container flex-justify-space-between">
      <img src="{{gallery.thumbUrl}}" alt="image not found">
    </div>
    <div class="flex-col-container flex-align-end">
      <div class="other-photos-container flex-row-container flex-wrap">
        <div class="other-photo" *ngFor="let photo of gallery.photos">
          <img src="{{photo.thumbUrl}}" width="280">
          <i class="fa fa-remove delete-button" (click)="deletePhoto(photo.photoId)"></i>
        </div>
      </div>
    </div>
  </div>

</div>
