<div class="main-container flex-row-container flex-wrap flex-justify-space-between">
  <div class="gallery flex-col-container" *ngIf="gallery">

    <div class="main-photo flex-row-container flex-justify-space-between">
      <img src="{{gallery.thumbUrl}}" alt="image not found">
    </div>

    <app-comments-container *ngIf="gallery" [comments]="comments"
                            (deleteComment)="deleteComment($event)">
    </app-comments-container>
  </div>
  <div class="comment-section flex-col-container flex-align-items-start" *ngIf="gallery">
    <app-comment-form [galleryId]="gallery.galleryId" (addComment)="updateComments($event)"
                      *ngIf="showCommentForm"></app-comment-form>
    <app-gallery-form *ngIf="showEditGalleryForm"
                      [gallery]="galleryCopy" (saveGallery)="onGallerySave($event)"
                      (closeForm)="onGalleryEdiClose()"
                      [header]="'Edit gallery'"
    >
    </app-gallery-form>
  </div>
</div>
