.main-flex-container {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-flex-container {
  display: flex;
  flex-direction: column;
  max-width: 65%;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.tags {
  display: flex;
  align-items: center;
  max-width: 600px;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #acacac;
  padding: 5px;
  margin-right: 6px;
  //border-radius: 20%;
}

span {
  margin-right: 15px;
  //margin-top: 8px;
}

.main-photo {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.main-photo img {
  max-width: 80%;
  border: 1px solid white;
  padding: 5px;
  height: auto;
  border-radius: 4px;
}

.other-photos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}

.other-photo {
  max-width: 300px;
  max-height: 300px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.other-photos img {
  width: 100%;
  object-fit: contain;
  border: 1px solid white;
  padding: 5px;
}

.comment-section {
  min-width: 250px;
  height: 150px;
}

.tags-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
