.main-container {
  max-width: 1200px;
}

.gallery-container {
  max-width: 1200px;
  min-height: 80vh;
}

.back-button {
  margin-right: 10px;
}

h3 {
  margin-top: 20px;
}

.photo-section-container {
  width: 1140px;
  margin-top: 50px;
}

.main-photo {
  width: 45%;
  border-right: 1px solid white;
}

.main-photo img {
  max-width: 80%;
  border: 1px solid white;
  padding: 5px;
  height: auto;
  border-radius: 4px;
}

.other-photos-container {
  max-width: 600px;
  justify-content: space-around;
  min-height: 400px;
}

.other-photo {
  position: relative;
}

.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding: 5px;
}

.footer {
  width: 100%;
  margin-top: 5px;
}

.comment-form {
  width: 45%;
  border-right: 1px solid white;
}

.margin-bottom {
  margin-bottom: 100px;
}

.comments-container {
  width: 600px;
}
