<div class="main-flex-container">
  <div class="gallery-flex-container" *ngIf="gallery">
    <div class="header">
      <h1>{{gallery.title}}</h1>
      <p><small>{{gallery.dateCreated | date: 'longDate'}}</small></p>
      <h3>{{gallery.description}}</h3>
      <div class="tags-container">
        <div class="tags">
          <div class="tag" *ngFor="let tag of gallery.tags">
            <span>
              {{tag}}
            </span>
            <i class="fa fa-remove" (click)="removeTag(tag)"></i>
          </div>
          <app-gallery-tag-form
            (addTag)="addTag($event)"
          ></app-gallery-tag-form>
        </div>
      </div>
    </div>
    <div class="main-photo">
      <img src="{{gallery.thumbUrl}}" alt="image not found">
    </div>
    <div class="other-photos">
      <div class="other-photo" *ngFor="let image of gallery.photos">
        <img alt="image not found" src="{{image.thumbUrl}}">
      </div>
      <button class="button button-success add-photo-button" (click)="openPhotoForm()">Add Photo
      </button>
    </div>
    <app-comments-container *ngIf="gallery" [comments]="comments"
                            (deleteComment)="deleteComment($event)">
    </app-comments-container>
  </div>
  <div class="comment-section" *ngIf="gallery">
    <app-comment-form [galleryId]="gallery.galleryId" (addComment)="updateComments($event)"></app-comment-form>

    <app-gallery-photo-form
      (addPhoto)="addPhoto($event)"
      (closeForm)="closePhotoForm()"
      *ngIf="showPhotoForm"
    ></app-gallery-photo-form>
  </div>
</div>
