.main-container {
  max-width: 1200px;
}

.gallery {
  max-width: 65%;
  margin: auto;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.tags {
  max-width: 600px;
}

.tag {
  background-color: #acacac;
  padding: 5px;
  margin-right: 6px;
}

span {
  margin-right: 15px;
}

.main-photo {
  margin-top: 50px;
}

.main-photo img {
  max-width: 80%;
  border: 1px solid white;
  padding: 5px;
  height: auto;
  border-radius: 4px;
}

.other-photos {
  margin-top: 40px;
}

.other-photo {
  max-width: 300px;
  max-height: 300px;
  margin-right: 20px;
  margin-bottom: 10px;
  position: relative;
}

.other-photos img {
  width: 100%;
  object-fit: contain;
  border: 1px solid white;
  padding: 5px;
}

.comment-section {
  min-width: 250px;
  height: 150px;
}

.tags-container {
  margin-top: 15px;
}

.add-photo-button {
  margin: 10px 0;
}

.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding: 5px;
}

.header-block {
  max-width: 40%;
}
