.comments-container {
  margin-top: 25px;
  border: 1px solid white;
  background-color: #acacac;
  padding: 15px;
}

small {
  color: white;
}

h5 {
  margin-bottom: 5px;
}

.comment-message {
  margin-top: 5px;
  font-size: 22px;
}
