.comments-container {
  display: flex;
  margin-top: 25px;
  border: 1px solid white;
  background-color: #acacac;
  padding: 15px;
  justify-content: space-between;
}

.comment {
  display: flex;
  flex-direction: column;

}

small {
  color: white;
}

h5 {
  margin-bottom: 5px;
}

.comment-message {
  margin-top: 5px;
  font-size: 22px;
}

.delete-button {
  display: flex;
  align-items: center;
}
