.row {
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-right: 10px;
  width: 100%;
}

.button-success {
  margin-left: -12px;
}

label {
  margin-bottom: 7px;
}

textarea {
  color: black;
}
