.form-container {
  margin-top: 180px;
}

.input-group {
  margin-right: 10px;
  width: 100%;
}

.button-success {
  margin-left: -12px;
}

label {
  margin-bottom: 7px;
}

textarea {
  color: black;
}

h3 {
  margin-left: -20px;
  margin-bottom: 10px;
}

form {
  max-width: 90%;
}
