.form-container {
  width: 400px;
}

.field {
  width: 400px;
}

.mini-field {
  width: 190px;
}

label {
  margin-bottom: 7px;
}

textarea {
  color: black;
}

h3 {
  margin-bottom: 10px;
}

.send-button {
  width: 100%;
}
