.single-news {
  margin-right: 40px;
  width: 300px;
  min-height: 350px;
}

.date {
  margin-top: 8px;
}

.m-t-8 {
  margin-top: 8px;
}

.delete-button {
  width: 300px;
}

.height-100 {
  height: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}
