.form-container {
  width: 500px;
  margin: auto;
}

.field {
  width: 500px;
}

label {
  margin-bottom: 7px;
}

textarea {
  color: black;
}

h3 {
  margin-bottom: 10px;
}

.send-button {
  width: 100%;
}
