<div class="">
  <form #tagForm="ngForm">
    <div class="tag-form-container flex-row-container">
      <input
        type="text"
        class="input-control"
        name="galleryTag"
        [(ngModel)]="tag"
        placeholder="Add tag"
        required>
      <button class="button button-success tag-button flex-row-container flex-center-both"
              type="button"
              (click)="onSubmit()"
              [disabled]="tagForm.invalid">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </form>
</div>
