.flex-container-galleries {
  max-width: 1100px;
  margin: 20px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
  width: 320px;
  height: 320px;
  margin: 0 10px 20px 10px;
}

img {
  width: 100%;
  height:80%;
  object-fit: contain;
}

.header-flex-container {
  display: flex;
}

.search-box {
  margin-left: 30px;
  color: black;
}
