.flex-container-galleries {
  max-width: 1100px;
  margin: 20px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
  width: 320px;
  height: 320px;
  margin: 0 10px 20px 10px;
}

img {
  width: 100%;
  height:80%;
  object-fit: contain;
}

.header-flex-container {
  display: flex;
  align-items: center;
}

.year-flex-container {
  display: flex;
  justify-content: start;
  width: 30%;
  max-width: 300px;
  margin-left: 30px;
}

li {
  margin-right: 15px;
}

.search-box {
  margin-left: 30px;
  color: black;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.button {
  margin-right: 30px;
}
