@import "_variables.scss";

.flex-container {
  max-width: 1100px;
  margin: 20px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
  padding: 30px;
  border: 1px solid white;
  width: 320px;
  height: 320px;
  margin-bottom: 25px;
  margin-right: 10px;
  margin-left: 10px;
  background-image: url("src/assets/img/box1/main.jpeg");
}
