@import "variables";
@import "reset";
@import "mixins";
@import "buttons";
@import "fonts";
@import "forms";
@import "icons";
@import "text";
@import "app";
@import "flex";

body {
  font-family: $font-family-base;
  background-color: #535353;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
