<div class="form-container flex-col-container">
  <h3>Add news</h3>
  <form #newsForm="ngForm" novalidate>
    <div class="input-group field" [ngClass]="{'input-error': (newsForm.controls['title']?.touched ||
newsForm.submitted) && newsForm.controls['title']?.invalid}">
      <label>Title</label>
      <input
        type="text"
        class="input-control"
        name="title"
        [(ngModel)]="news.title"
        required>
      <p class="error-text">This field is required</p>
    </div>
    <div class="input-group field" [ngClass]="{'input-error': (newsForm.controls['shortContent']?.touched ||
newsForm.submitted) && newsForm.controls['shortContent']?.invalid}">
      <label>Short description</label>
      <textarea
        type="text"
        class="input-control"
        name="shortContent"
        [(ngModel)]="news.shortContent"
        required>
        </textarea>
      <p class="error-text">This field is required</p>
    </div>
    <div class="input-group field" [ngClass]="{'input-error': (newsForm.controls['fullContent']?.touched ||
newsForm.submitted) && newsForm.controls['fullContent']?.invalid}">
      <label>Full content</label>
      <textarea
        type="text"
        class="input-control"
        name="message"
        [(ngModel)]="news.fullContent"
        required>
        </textarea>
      <p class="error-text">This field is required</p>
    </div>
    <div class="input-group field" [ngClass]="{'input-error': (newsForm.controls['photo']?.touched ||
    newsForm.submitted) && newsForm.controls['photo']?.invalid}">
      <label>Photo url</label>
      <input
        type="text"
        class="input-control"
        name="photo"
        [(ngModel)]="news.photo.thumbUrl">
    </div>
    <button class="btn btn-primary send-button"
            (click)="onSubmit()"
            [disabled]="newsForm.submitted || newsForm.invalid || newsForm.pristine">add news
    </button>
  </form>
</div>
