.paging-container {
  display: flex;
  margin: 10px;
  font-size: 20px;
  justify-content: space-between;
}

span {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  margin: 5px;
}

.disabled-link {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: grey;
  background-color: #4f4f4f;
}

.active-page {
  background-color: #20A5FF;
  color: white;
}

.header-flex-container {
  display: flex;
  align-items: center;
}

.button {
  margin-right: 30px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.flex-container-galleries {
  max-width: 1100px;
  margin: 20px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
  width: 320px;
  max-height: 320px;
  margin: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
