.paging-container {
  display: flex;
  margin: 10px;
  font-size: 20px;
  justify-content: space-between;
}

span {
  padding: 10px;
  background-color: white;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  margin: 5px;
}

.disabled-link {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: grey;
  background-color: #4f4f4f;
}

.active-page {
  background-color: #20A5FF;
  color: white;
}
