.button {
  margin-right: 30px;
}

.buttons-container {
  margin-top: 50px;
  margin-bottom: 40px;
}

.single-gallery-container {
  max-width: 1200px;
}

.gallery {
  width: 320px;
}

.left-section {
  min-width: 85%;
}

.add-gallery-form {
  margin-top: -140px;
}

.h-70-vh {
  height: 70vh;
}
