.paging-container {
  margin: 10px;
  font-size: 20px;
}

span {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  margin: 5px;
}

.disabled-link {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: grey;
  background-color: #4f4f4f;
}

.active-page {
  background-color: #20A5FF;
  color: white;
}

.button {
  margin-right: 30px;
}

.buttons-container {
  margin-top: 50px;
  margin-bottom: 40px;
}

.galleries-container {
  max-width: 1100px;
  margin: 20px auto 20px auto;
}

.gallery {
  width: 320px;
  max-height: 320px;
  margin: 10px 10px 20px 10px;
}

.left-section {
  min-width: 85%;
}

.add-gallery-form {
  margin-top: -140px;
}
