<div class="flex-col-container flex-justify-space-between h-70-vh">
  <header>
    <div class="flex-row-container flex-align-items-center flex-wrap">
      <div class="left-section flex-row-container flex-wrap flex-align-items-center">
        <h1>{{title}}</h1>
        <app-gallery-search
          *ngIf="galleries.length"
          (searchValue)="setSearchValue($event)"
        >
        </app-gallery-search>
        <app-gallery-search-by-year
          *ngIf="galleries.length"
          [yearsArray]="travelYearsArray"
          (searchYear)="setSearchYear($event)"
        >
        </app-gallery-search-by-year>
      </div>
    </div>
    <hr>
    <h6>{{description}}</h6>
  </header>
  <button class="btn btn-primary" (click)="toggleFormActive()" *ngIf="!addGalleryActive">add gallery</button>
  <div class="gallery-form" *ngIf="addGalleryActive">
    <app-gallery-form
      (closeForm)="toggleFormActive()"
      (saveGallery)="onGallerySave($event)"
    >
    </app-gallery-form>
  </div>
  <div class="single-gallery-container flex-row-container flex-wrap flex-justify-space-between"
       *ngIf="!addGalleryActive">
    <div class="single-gallery"
         *ngFor="let gallery of galleries | searchGalleries : searchValue | searchByYear : yearSearch | slice:start:end;">
      <app-gallery-item
        [gallery]="gallery"
        (deleteGallery)="removeGallery($event)"
      >
      </app-gallery-item>
    </div>
    <div class="add-gallery-form" *ngIf="addGalleryActive">
      <app-gallery-form
        (saveGallery)="onGallerySave($event)"
        (closeForm)="toggleFormActive()"
        [header]="'Add new gallery'"
      >
      </app-gallery-form>
    </div>
  </div>
  <app-paging
    [itemsList]="galleries"
    [currentPage]="currentPage"
    [numberOfPages]="numberOfPages"
    (moveBack)="moveBack()"
    (moveForward)="moveForward()"
    (setCurrentPage)="setCurrentPage($event)"
  ></app-paging>
</div>
<div class="buttons-container flex-row-container flex-wrap flex-justify-center flex-align-items-center">
  <button class="button btn btn-primary" (click)="exportGalleries()">Export galleries</button>
  <button class="button btn btn-danger" (click)="removeGalleries()">Delete galleries</button>
</div>
